<div class="row">
	<h1><%=@user.name%></h1>
</div>

<div class="row">
	<%@user.posts.each do |post|%>
		<p class="post_box"><%=post.text%></td>
	<%end%>
</div>

<style type="text/css">
	.post_box {
		text-align: center;
	    border-radius: 25px;
	    border: 2px solid #8AC007;
	    background: #CCFFCC;
	    padding: 20px;
	    width: 400px;
	}
</style>
