

body	{
  zoom: 90%;
  header {
  	background: #ccffcc; /* Old browsers */
  	background: -moz-linear-gradient(left,  #ccffcc 0%, #8AC007 100%); /* FF3.6+ */
  	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ccffcc), color-stop(100%,#8AC007)); /* Chrome,Safari4+ */
  	background: -webkit-linear-gradient(left,  #ccffcc 0%,#8AC007 100%); /* Chrome10+,Safari5.1+ */
  	background: -o-linear-gradient(left,  #ccffcc 0%,#8AC007 100%); /* Opera 11.10+ */
  	background: -ms-linear-gradient(left,  #ccffcc 0%,#8AC007 100%); /* IE10+ */
  	background: linear-gradient(to right,  #ccffcc 0%,#8AC007 100%); /* W3C */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffcc', endColorstr='#8AC007',GradientType=1 ); /* IE6-9 */
    color: white;
    padding: 20px 0;

    h1 { font-size: 60px; }
  }
  
  .link {
    color: #0555C1;
  }
}
